anaconda-anon-usage==0.4.4
archspec==0.2.3
boltons==23.0.0
Brotli==1.0.9
build==1.2.1
CacheControl==0.14.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==2.0.4
cleo==2.1.0
conda==24.4.0
conda-content-trust==0.2.0
conda-libmamba-solver==24.1.0
conda-package-handling==2.2.0
conda_package_streaming==0.9.0
crashtest==0.4.1
cryptography==42.0.5
distlib==0.3.8
distro==1.9.0
dulwich==0.21.7
fastjsonschema==2.20.0
filelock==3.15.3
idna==3.7
installer==0.7.0
jaraco.classes==3.4.0
jsonpatch==1.33
jsonpointer==2.1
keyring==24.3.1
libmambapy==1.5.8
menuinst==2.0.2
more-itertools==10.3.0
msgpack==1.0.8
npm==0.1.1
optional-django==0.1.0
packaging==23.2
pexpect==4.9.0
pip==24.0
pkginfo==1.11.1
platformdirs==3.10.0
pluggy==1.0.0
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
ptyprocess==0.7.0
pycosat==0.6.6
pycparser==2.21
pyproject_hooks==1.1.0
PySocks==1.7.1
rapidfuzz==3.9.3
requests==2.31.0
requests-toolbelt==1.0.0
ruamel.yaml==0.17.21
setuptools==69.5.1
shellingham==1.5.4
tomlkit==0.12.5
tqdm==4.66.2
trove-classifiers==2024.5.22
truststore==0.8.0
urllib3==2.1.0
virtualenv==20.26.2
wheel==0.43.0
xattr==1.1.0
zstandard==0.22.0
